<div class="row">
  <div class="text-center welcome-header">
    <p>Blocipedia: Social, Markdown Wikis</p>
  </div>
</div>

<div class="row text-center">
  <div class="welcome-center center-block">
    <h3>Create and share Markdown Wikis</h3>
    <div>
      <% if user_signed_in? %>
        Signed in as: <strong><%= current_user.email %></strong>
        <%= link_to "Public Wikis", wikis_path, :class => 'btn btn-info' %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary'  %> or
        <%= link_to "Sign In", new_user_session_path, :class => 'btn btn-primary'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row text-center welcome-footer">
  <div class="col-md-5 well">
    <h3>Create as many Public Wikis as you want!</h3>
    <p>Free Plan for everyone! Just Sign up!</p>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 well">
    <h3>Create Private Wikis!</h3>
    <% if current_user && current_user.premium? %>
      <h4>Welcome Premium Member!</h4>
    <% elsif current_user && current_user.standard? %>
      <p>Click here to upgrade to our Premium Plan Option!</p>
      <%= link_to "Premium Membership", new_charges_path, :class => 'btn btn-primary' %>
    <% else %>
      <p>Premium Plan Option for registered users!</p>
    <% end %>
  </div>
</div>
